@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --font-prime: 'Roboto', sans-serif;
    --color-prime: #333;
    --color-secondary: #0aaeef;
    --color-tertiary: #fff;
    --color-quaternary: #86fc90;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-quaternary);
    background-image: url(https://images.unsplash.com/photo-1504639725590-34d0984388bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--font-prime);
    color: var(--color-tertiary);
}

#container {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
}


/* Header Design */

header {
    margin: 1.1em 0;
    text-align: center;
}

header #title {
    font-size: 2em;
}

header #description {
    font-style: italic;
}


/* Form Design */

#survey-form {
    padding: 1.5em;
    background-color: var(--color-prime);
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: .8em 0;
}

.form-group label,
.form-group p {
    font-size: 1.1em;
    margin-bottom: .4em;
}

.form-group input[type='radio'],
.form-group input[type='checkbox'] {
    transform: scale(1.5);
    margin: 0 1em 0 .3em;

}

.form-group #dropdown  {
    color: var(--color-prime);
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="number"],
.form-group select {
    height: 2.5em;
    color: var(--color-primes);
    border-radius: .1em;
    padding: 0 1em;
    color: var(--color-prime);
}

#comment {
    border-radius: .1em;
    color: var(--color-prime);
    padding: 1em;
}

#submit {
    height: 2em;
    background-color: var(--color-secondary);
    border-radius: .1em;
    border: none;
    color: var(--color-tertiary);
    font-size: 1.1em;
}



/* Responsive  */
@media (max-width: 800px) {
    #container {
        width: 70%;
    }
}

@media (max-width: 600px) {
    #container {
        width: 80%;
    }
}

@media (max-width: 400px) {
    #container {
        width: 90%;
    }
}

@media (max-width: 300px) {
    #container {
        width: 95%;
        font-size: .7em;
    }

    #description {
        font-size: 1.2em;
    }

    .form-group input[type='radio'],
    .form-group input[type='checkbox'] {
        transform: scale(1);
    }

    .form-group input[type='text'],
    .form-group input[type='email'],
    .form-group input[type='number'],
    .form-group textarea {
        padding: 0;
    }
}

